body {
    margin-left: 50px;
    margin-right: 90px;
}

h3 {
    font-size: 18px;
}

span {
    font-size: 30px;
}

#timer {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    letter-spacing: 6px;
}

.buttons {
    display: flex;
}

.button {
    width: 90px;
}

.button+.button {
    margin-left: 5px;
}

#start, #stop, #reset {
    width: 100%;
    height: 44px;
    font-size: 13px;
    font-weight: bold;
}